.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

/* wsg */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  overflow: hidden;
  background-color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  color: white; 
}

/* Define CSS Variable for Logo Size */
:root {
  --logo-size: 14.375rem; /* 230px */
}

/* Navbar Styles */
.navbar {
  background-color: black;
  padding: 0.9375rem; /* 15px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: var(--logo-size);
  height: auto;
  max-width: 100%;
  padding: 0.3125rem; /* 5px */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 1;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 1.875rem; /* 30px */
  height: 0.1875rem; /* 3px */
  background-color: white;
  margin: 0.375rem 0; /* 6px */
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  user-select: none;
}

.nav-links li {
  margin-left: 1.875rem; /* 30px */
}

.nav-links a {
  color: #ffde59;
  text-decoration: none;
  font-size: 1.125rem; /* 18px */
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

/* Main Content */
.content {
  min-height: 100vh;
  padding: 12.5rem 1.25rem 1.25rem; /* 200px 20px 20px */
  text-align: center;
  color: white; 
}

.content h1 {
  font-size: 2.8125rem; /* 45px */
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1.875rem; /* 30px */
  color: #e3ca69;
}

.content h2 {
  font-size: 1.4375rem; /* 23px */
  padding-bottom: 0.5rem; /* 8px */
}

.content p {
  font-size: 1.3125rem; /* 21px */
  max-width: 50rem; /* 800px */
  margin: 0 auto;
}

/* Footer */
.footer {
  background-color: rgb(0, 0, 0);
  color: #d3d3d3;
  text-align: center;
  padding: 1.25rem; /* 20px */
  position: absolute;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  bottom: 0;
}

/* Responsive Design with Animation and Logo Adjustments */
@media (max-width: 600px) {
  .hamburger {
      display: block;
  }

  .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3.75rem; /* 60px */
      left: 0;
      width: 100%;
      background-color: black;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  .nav-links.active {
      max-height: 12.5rem; /* 200px */
      padding: 1.25rem 0; /* 20px */
  }

  .nav-links li {
      margin: 0.9375rem 0; /* 15px */
      text-align: center;
  }

  .logo-img {
      width: calc(var(--logo-size) * 0.8);
  }
}

@media (max-width: 400px) {
  .logo-img {
      width: calc(var(--logo-size) * 0.6);
  }
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;  
}

.circle {
  position: absolute;
  display: block;
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  border-radius: 1.25rem;
  background-color: rgb(0, 0, 0)
}

.supercharged {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.supercharged::after,
.supercharged::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125rem; /* 2px */
  background: linear-gradient(to right, #f3f047, #99dfdf);
  bottom: -0.3125rem; /* 5px */
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.supercharged::before {
  top: -0.3125rem; /* 5px */
  transform-origin: left;
}

.supercharged:hover::after,
.supercharged:hover::before {
  transform: scaleX(1);
}
.Btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20vw;
  height: 5vh;
  border: none;
  padding: 0px 20px;
  background-color: rgb(208, 255, 0);
  color: rgb(221, 227, 230);
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(215, 241, 136);
  transition-duration: .5s;
  margin-left: 18em;
  margin-top: 5vh;
}

@media (max-width:650px) {
  .Btn{
    margin-left: 30vw;
    margin-top: 5vh;
  }
}

@media (max-width:1920px) {
  .btn{
    margin-left: 70vw;
    margin-top: 5vh;
  }
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(219, 255, 61);
}
